.homeScreen {
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (max-width: 540px) and (min-width: 200px) {
  .homeScreen {
    overflow-x: hidden;
    width: 100vw;
  }

  .banner {
    background-position: center;
    background-size: cover;
    width: 100%;
  }

  .banner__content {
    margin-right: 30px;
  }

  .banner__title {
    font-size: 2.5rem;
    margin-right: 20px;
  }

  .banner_description {
    width: 300px;
  }

  .row__posters {
    margin-right: 20px;
  }
}
